* {
  font-family: 'Monserrat',
  sans-serif;
  text-decoration: none;
  background-color: transparent;
}

html {
  background-attachment: fixed;
  background-image: url('../src/assets/horiz-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  padding: none;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, 
h2, 
h3, 
p {
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  html {
    background-image: url('../src/assets/vert-background.jpg');
  }
}
