* {
  font-family: 'Monserrat',
  sans-serif;
  text-decoration: none;
  color: white;
  background-color: rgba(245, 245, 245, 0.5);
}

html {
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, 
h2, 
h3, 
p {
  background-color: transparent;
}
